config/custom_components/conx/node-red.json
[
    {
        "id": "190eb768.bbe479",
        "type": "subflow",
        "name": "Selection",
        "info": "",
        "category": "ConX",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "8dd458d2.8739b8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 80,
                "wires": [
                    {
                        "id": "8dd458d2.8739b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#5050FF",
        "icon": "node-red/parser-csv.svg"
    },
    {
        "id": "8dd458d2.8739b8",
        "type": "function",
        "z": "190eb768.bbe479",
        "name": "create entities by name",
        "func": "function toNums(seq) {\n    let parts = seq.split(\"|\"), inc = 1, sign = 1;\n    if (parts.length > 1)\n        inc = parseFloat(parts[1]);\n\n    let nums = parts[0].split(\">\");\n    if (nums.length < 2)\n        return [parseFloat(nums[0])];\n\n    let a = parseFloat(nums[0]),\n        b = parseFloat(nums[1]);\n    if (a > b) {\n        inc = -inc;\n        sign = -1;\n    }\n\n    res = [];\n    for (; a * sign <= b * sign; a += inc)\n        res.push(a);\n\n    return res;\n}\n\nfunction removeItems(res, items) {\n    let i, len = items.length;\n    for (i = 0; i < len; ++i) {\n        index = res.indexOf(items[i]);\n        if (-1 !== index)\n            res.splice(index, 1);\n    }\n}\n\nfunction parseItems(data) {\n    let names = [];\n    let entities = data.split(\",\");\n    let i, len = entities.length;\n    for (i = 0; i < len; ++i) {\n        let entity = entities[i];\n        let parts = entity.split(\";\");\n        if (parts.length < 2) {\n            names.push(parts[0].trim());\n            continue;\n        }\n        if (parts.length > 2)\n            continue;\n\n        let res = [];\n        let name = parts[0].trim();\n        let seqs = parts[1].split(/([+]|[-])/);\n        let tlen = seqs.length, j;\n        for (j = 0; j < tlen; j += 2) {\n            let s = toNums(seqs[j]);\n            if (0 == j || \"+\" == seqs[j - 1])\n                res = res.concat(s);\n            else\n                removeItems(res, s);\n        }\n        tlen = res.length;\n        for (j = 0; j < tlen; ++j)\n            names.push(name + res[j]);\n    }\n    return names;\n}\nmsg.payload = parseItems(msg.payload);\n\nreturn msg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ffd0fbad.519b88",
        "type": "subflow",
        "name": "ConxAPI",
        "info": "",
        "category": "ConX",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "eeb3135.c9365f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 500,
                "y": 40,
                "wires": [
                    {
                        "id": "72b66e91.50d5e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "module",
                "type": "str",
                "value": "db"
            },
            {
                "name": "cmd",
                "type": "str",
                "value": "get"
            }
        ],
        "color": "#5050FF",
        "icon": "font-awesome/fa-paper-plane-o"
    },
    {
        "id": "72b66e91.50d5e",
        "type": "ha-api",
        "z": "ffd0fbad.519b88",
        "name": "",
        "server": "fc94c963.ab32c8",
        "debugenabled": false,
        "protocol": "websocket",
        "method": "get",
        "path": "",
        "data": "{\t   \"id\":1,\t   \"type\":\"conx.cmd\",\t   \"cmd\":cmd,\t   \"module\":module,\t   \"data\":payload\t}",
        "dataType": "jsonata",
        "location": "payload",
        "locationType": "msg",
        "responseType": "json",
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb3135.c9365f",
        "type": "function",
        "z": "ffd0fbad.519b88",
        "name": "",
        "func": "msg.cmd = env.get('cmd');\nmsg.module = env.get('module');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "72b66e91.50d5e"
            ]
        ]
    },
    {
        "id": "fc94c963.ab32c8",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "e2440fda.4787a",
        "type": "subflow:ffd0fbad.519b88",
        "z": "ae55250c.f60028",
        "name": "",
        "x": 470,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e17be6ec.8082d8",
        "type": "subflow:190eb768.bbe479",
        "z": "ae55250c.f60028",
        "name": "",
        "x": 470,
        "y": 380,
        "wires": [
            []
        ]
    }
]